

.responsive body
{
   min-width: 240px;
   
}
  
.responsive img 
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}  

.responsive #pam-main
	{background:#EFF2F5;}
  
.responsive .pam-content-layout img,
.responsive .pam-content-layout video
{
   max-width: 100%;
   height: auto !important;
}

.responsive.responsive-phone .pam-content-layout img 
{
   margin: 1%;
}

.responsive.responsive-phone .pam-collage,
.responsive.responsive-tablet .pam-collage {
   margin: 0 !important;
}

.responsive .pam-content-layout .pam-sidebar0, 
.responsive .pam-content-layout .pam-sidebar1, 
.responsive .pam-content-layout .pam-sidebar2 
{
   width: auto !important;
}
    
.responsive .pam-content-layout, 
.responsive .pam-content-layout-row, 
.responsive .pam-layout-cell 
{
   padding: 0;
   display: block;
}
    
.responsive .image-caption-wrapper 
{
   width: auto;
}

.responsive.responsive-tablet .pam-vmenublock,
.responsive.responsive-tablet .pam-block
{
   margin-left: 1%;
   margin-right: 1%;
   width: 48%;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .pam-responsive-embed 
{
   height: 0;
   padding-bottom: 56.25%;
   /* 16:9 */
    position: relative;
}

.responsive .pam-responsive-embed iframe,
.responsive .pam-responsive-embed object,
.responsive .pam-responsive-embed embed
{
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.responsive .pam-sheet
{
   width: auto !important;
   min-width: 240px !important;
   max-width: none !important;
   margin-right: 1% !important;
   margin-left: 1% !important;
}

#pam-resp {
   display: none;
}

@media all and (max-width: 989px)
{
    #pam-resp, #pam-resp-t { display: block; }
    #pam-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #pam-resp, #pam-resp-m { display: block; }
    #pam-resp-t { display: none; }
}

#pam-resp-desktop {
   display: none;
}
#pam-resp-tablet-landscape {
   display: none;
}
#pam-resp-tablet-portrait {
   display: none;
}
#pam-resp-phone-landscape {
   display: none;
}
#pam-resp-phone-portrait {
   display: none;
}

@media (min-width: 1200px)
{
    #pam-resp-desktop { display: block; }
}

@media (min-width: 980px) and (max-width: 1199px)
{
    #pam-resp-tablet-landscape { display: block; }
}

@media (min-width: 768px) and (max-width: 979px)
{
    #pam-resp-tablet-portrait { display: block; }
}

@media (min-width: 480px) and (max-width: 767px)
{
    #pam-resp-phone-landscape { display: block; }
}

@media (max-width: 479px)
{
    #pam-resp-phone-portrait { display: block; }
}
.responsive .pam-header 
{
   width: auto !important;
   max-width: none !important;

   min-width: 0 !important;
   text-align: center;
}

.default-responsive .pam-header 
{
   height: auto;
}

.default-responsive .pam-header *
{
   position: relative;
   text-align: center;
   -webkit-transform: none !important;
   -moz-transform: none !important;
   -o-transform: none !important;
   -ms-transform: none !important;
   transform: none !important;
}

.default-responsive .pam-header .pam-headline, 
.default-responsive .pam-header .pam-slogan 
{
   display: block !important;
   top: 0 !important;
   left: 0 !important;
   margin: 2% !important;
   text-align: center !important;
}
    
.default-responsive .pam-header .pam-headline a, 
.default-responsive .pam-header .pam-slogan 
{
   white-space: normal !important;
}

.default-responsive .pam-header .pam-logo
{
   display: inline-block;
   margin: auto !important;
   left: auto;
   top: auto !important;
   width: auto;
   height: auto;
}

.responsive .pam-header .pam-slidenavigator 
{
   position: absolute;
}

.default-responsive .pam-header .pam-positioncontrol 
{
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
   width: auto;
   height: auto;
   margin: auto;
}

.responsive .pam-header #pam-flash-area
{
   display: none;
}

/* Search and other elements in header element directly */
.default-responsive .pam-header>.pam-textblock
{
   position: relative !important;
   display: block !important;
   margin: 1% auto !important;
   width: 75% !important;
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
}

.default-responsive .pam-header .pam-textblock 
{
   position: relative !important;
   display: block !important;
   margin: auto !important;
   left: 0 !important;
   right: 0 !important;
   top: auto !important;
   height: auto !important;
   width: auto;
   background-image: none;
}

/* '.pam-header *' used noram align, but for '.pam-textblock *' we must force align because of preview */
.responsive .pam-header .pam-textblock *
{
   text-align: center !important;
}

.default-responsive .pam-header .pam-shapes > .pam-textblock,
.default-responsive .pam-header .pam-slide-item > .pam-textblock
{
   display: none !important;
}

.default-responsive .pam-header .pam-shapes > .pam-textblock *
{
   text-align: center !important;
   width: auto !important;
   height: auto !important;
   display: block;
}

.default-responsive .pam-header .pam-slider .pam-textblock *
{
   text-align: center !important;
   width: auto !important;
   height: auto !important;
   display: block;
}

/* For icons like facebook, rss, etc. */
.responsive .pam-header>.pam-textblock>div 
{
   width: 100%;
}
/* dynamic width nav */
.responsive nav.pam-nav,
.responsive .pam-nav-inner
{
   width: auto !important;
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0;
   margin-bottom: 0;
   min-width: 0;
   min-height:51px;
   text-align: left !important;
}

.responsive nav.pam-nav
{
   min-width: 1%;
}

.responsive .pam-nav 
{
   padding-left: 0;
   padding-right: 0;
}

/* full width hmenu, instead of inline-block */
.responsive .pam-nav ul.pam-hmenu 
{
   float: none;
   text-align: center;
   display: none;
}

/* elements on different lines */
.responsive .pam-nav ul.pam-hmenu li,
.responsive .pam-hmenu-extra1,
.responsive .pam-hmenu-extra2
{
   float: none;
}
  
/* horizontal margins */
.responsive .pam-nav ul.pam-hmenu>li:first-child, 
.responsive .pam-nav ul.pam-hmenu>li:last-child, 
.responsive .pam-nav ul.pam-hmenu>li
{
   margin-left: 0;
   margin-right: 0;
}
 
/* separator */ 
.responsive .pam-nav ul.pam-hmenu>li:before
{
   display: none;
}

/* vertical distance between items */
.responsive .pam-nav ul.pam-hmenu a
{
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   height: auto;
   white-space: normal;
}

.responsive .pam-nav ul.pam-hmenu>li:first-child>a
{
   margin-top: 0 !important;
}

.responsive .pam-nav ul.pam-hmenu>li:last-child>a
{
   margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .pam-nav .ext, 
.responsive .pam-nav ul.pam-hmenu>li>ul, 
.responsive .pam-nav ul.pam-hmenu>li>ul>li,
.responsive .pam-nav ul.pam-hmenu>li>ul>li a
{
   width: auto !important;
}

/* submenu position on hover */
.responsive .pam-nav ul.pam-hmenu ul
{
   left: auto !important;
   right: auto !important;
   top: auto !important;
   bottom: auto !important;
   display: none !important;
   position: relative !important;
   visibility: visible !important;
}

.responsive .pam-nav ul.pam-hmenu li.active>ul
{
   display: block !important;
}
.responsive .pam-nav ul.pam-hmenu ul li.active>a
{
   font-weight: bold;
}

.pam-nav .pam-menu-btn 
{
   border: 1px solid #404040;
   border-radius: 3px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
   display: none;
   -svg-background: linear-gradient(to bottom, #707070 0, #000 100%);
   background: -ms-linear-gradient(top, #707070 0, #000 100%);
   background: -moz-linear-gradient(top, #707070 0, #000 100%);
   background: -o-linear-gradient(top, #707070 0, #000 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #000));
   background: -webkit-linear-gradient(top, #707070 0, #000 100%);
   background: linear-gradient(to bottom, #707070 0, #000 100%);
   margin: 3px;
   outline: none;
   padding: 5px;
   position: relative;
   vertical-align: bottom;
   width: 20px;
}

.pam-nav .pam-menu-btn span 
{
   background: #E0E0E0;
   border-radius: 2px;
   display: block;
   height: 3px;
   margin: 3px 1px;
   position: relative;
   -moz-transition: background .2s;
   -o-transition: background .2s;
   -webkit-transition: background .2s;
   transition: background .2s;
}

.pam-nav .pam-menu-btn:hover span
{
   background: #f3f3f3;
}

.responsive .pam-nav .pam-menu-btn 
{
   display: inline-block;
}

.responsive .pam-nav .pam-hmenu.visible 
{
   display: block;
}

.responsive .pam-nav ul.pam-hmenu>li>ul>li:first-child:after 
{
   display: none;
}
.responsive .pam-nav ul.pam-hmenu ul a
{
   padding-left: 4% !important;
}
.responsive .pam-nav ul.pam-hmenu ul ul a
{
   padding-left: 6% !important;
}
.responsive .pam-nav ul.pam-hmenu ul ul ul a
{
   padding-left: 8% !important;
}
.responsive .pam-nav ul.pam-hmenu ul ul ul ul a
{
   padding-left: 10% !important;
}
.responsive .pam-nav ul.pam-hmenu ul ul ul ul ul a
{
   padding-left: 12% !important;
}
  
.responsive .pam-nav ul.pam-hmenu>li>ul
{
   padding: 10px;
}
  
.responsive .pam-nav ul.pam-hmenu>li>ul:before
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.responsive .pam-content-layout, 
.responsive .pam-content-layout-row, 
.responsive .pam-layout-cell 
{
   display: block;
}

.responsive .pam-layout-cell 
{
   width: auto !important;
   height: auto !important;
}

.responsive .pam-content-layout:after, 
.responsive .pam-content-layout-row:after, 
.responsive .pam-layout-cell:after 
{
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.responsive .pam-post
{
   border-radius: 0;
}

.responsive .pam-footer-inner
{
   width: auto;
   padding: 2% !important;
}
.responsive .pam-footer
{
   margin-top: 1%;
}

.responsive .responsive-tablet-layout-cell 
{
   width: 50% !important;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .responsive-layout-row-3 .responsive-tablet-layout-cell 
{
   width: 33.33% !important;
}

.responsive .yahoo-status
	{
		display:none;
		
	}



.responsive .genway-logo
	{
		width:290px;		height:45px;
		top:0!important;
		left:0!important;
		position:relative!important;
		margin:10px auto 20px auto;
		z-index:0!Important;
		
	}
	
.responsive .genway-logo h1 a	{		width:290px;		height:45px;		display:block;		text-indent:-9999px;		background:url('../images/logo2.png');	}
	
	
	.responsive .numere-de-contact
	{
		width:90%!important;
		display:inline;
		position:relative!important;
		top:0!important;
		left:0!important;
		margin:10px auto;
		float:none!important;
	
	}
	
	
	
	.responsive .numere-de-contact div
	{
		padding-left:30px;
		padding-top:7px;
		padding-bottom:7px;
		float:none!important;
		display:inline-block;
		padding-right:12px;
		border-right:none!important;
		font-weight:bold;
		color:#777777;
		font-size:16px;
		margin:0px 0 0 12px;
		
	}
	


.responsive .yahoo-online
	{
		display:inline-block!important;
		/*background:url('../images/icon-yahoo-online.png') no-repeat 0 50%;*/
	}
.responsive .yahoo-offline
	{
		display:inline-block!important;
		background:url('../images/icon-yahoo-offline.png') no-repeat 0 50%;
	}
	
.responsive .contul-meu
	{
		margin:10px auto!important;
		display:block!important;
		float:none!important;
		width:auto; 
	}
	
.responsive .cont-nou
{
	width:92px;
	height:42px;
	display:inline-block;
	text-indent:-9999px;
	background:url('../images/cont-nou.png');
	background-repeat:no-repeat;
	background-position:top left;
	cursor:pointer;
	float:none!important;
	
}

.responsive .cont-nou:hover
{

	background-position:bottom left;
}

.responsive .intra-in-cont
{
	width:92px;
	height:42px;
	display:inline-block;
	text-indent:-9999px;
	background:url('../images/intra-in-cont.png');
	background-repeat:no-repeat;
	background-position:top left;
	cursor:pointer;
	float:none!important;
	
}

.responsive .intra-in-cont:hover
{

	background-position:bottom left;
}
	
.responsive .login-cont
	{display:none!Important;}
	
.responsive .pam-header
	{
		height:auto!important;
	}
	
.responsive .cos-cumparaturi
	{
		position:absolute;
		float:none;
		top:0;
		right:0;
		border-bottom:1px solid #8E9CAC;
	}
	
	
.responsive .abonare-newsletter form select
	{
	margin:0 0 5px 0;
	color:#333333!important;
	width:104%;
	margin:0 0px 5px 0px;
	-webkit-box-shadow: inset 0 0 10px #93C1E7;
    -moz-box-shadow: inset 0 0 10px #93C1E7;
    box-shadow: inset 0 0 10px #93C1E7;
	border:1px solid #3383C7;
	padding:5px;
	width:105%;
	}
	
.responsive .abonare-newsletter form input[type="button"]
	{
		margin:0;
		text-align:center;
		font-size:12px;
		color:#fff;
		font-size:14px; font-weight:bold;
		background:url(../images/buton-trimite.png);
		background-repeat:repeat-x;
		height:30px;
		border:none!important;
		outline:none!important;
		width:105%;
		cursor:pointer!important;

		
	}
	
.responsive .paginare
	{display:none!important;}
	
.responsive .descriere-produs-col
{
	width:90%; margin-right:10px; float:left;
}

.responsive .descriere-produs-col2
{
	width:90%; margin-right:0!important; float:left;
}

.responsive .rating-stars
	{   width:100%;
		display:inline-block;
		margin-bottom:10px;
	}
	
.responsive .rating-links
	{
		width:100%;
		display:inline-block;
	}
	
.responsive .comentariu-rating
	{
		width:100%;
		border-right:none!important;;
		padding:0 0 10px 0!important;
		vertical-align:top;
		border-bottom:1px solid #E9E9E9;
	}
	
.responsive .comentariu-continut
	{   width:90%;
		display:inline-block;
		padding:10px 10px 0 10px!important;
		vertical-align:top;
		
	}
	
.responsive .three-col
	{
		width:98%!important;
		margin-bottom:10px;
	}
	
.cr
	{
		display:none!Important;
	}
	
.responsive-phone .cr
	{
		display:table-cell!important;
	}
	


.responsive .three-col > div
	{
		width:90%!important;
		padding:4%!important;
	}
	

	
.responsive .finalizare-comanda p
	{
		text-align:center!important;
	}
	
.responsive .finalizare-comanda button
	{
		margin-bottom:10px!important;
		float:none!Important;
		margin:0 auto 10px auto!Important;
	}
	
.responsive .cos-optiuni
	{
		width:90%!important;
	}
	
.responsive .finalizare-comanda
	{
	width:90%!important;
	}
	
